
body {
    background: var(--body-background);
    font-family: 'Inter', sans-serif;
    color: #eeeeee;
}

:root {
    --clr-primary: #FC7B2F;
    --clr-image-bg: #1F2125;
    --clr-desc-bg: #131415;

    --background: #0E0C13;

    --body-background: #28292c;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1410px;
    }
}

hr {
    color: var(--clr-primary);
}

.nav-link > button, .dropdown-toggle {
    background: var(--background);
    font-weight: bold;
}

.dropdown-menu, a.dropdown-item {
    background: var(--background);
}

a.dropdown-item:hover {
    background: hsl(22, 80%, 59%);
}

.nav-link[data-active="active"] > button {
    border: 2px solid var(--clr-primary);
}


#login, #logout, #login-form {
    background: var(--clr-primary);
}

.login-form {
    background: var(--background);
}

.text-orange {
    color: var(--clr-primary);
}

.form-control {
    background: rgba(211, 211, 211, 0.1);
    color: #eee;
}

.form-control::placeholder {
    color: rgba(238, 238, 238, 0.5);
}

.form-control:focus {
    background: rgba(211, 211, 211, 0.1);
    color: #eee;
    border-color: var(--clr-primary);
    box-shadow: 0 0 0 0.25rem rgba(252, 123, 47, 0.25);
}

.form-check-input:checked {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
}

.form-check-input:focus {
    border-color: var(--clr-primary);
    box-shadow: 0 0 0 0.25rem rgba(252, 123, 47, 0.25);
}

.errorlist {
    margin: 0 0;
    padding: 0;
    text-align: left;
}

.errorlist li {
    margin: 0.25rem 0;
}

img {
    max-width: 100%;
}

.card {
    min-height: 40rem;
}

.card-image {
    background: var(--clr-image-bg);
    min-height: 26rem;
}

.card-body {
    background: var(--clr-desc-bg);
    min-height: 12rem;
    padding-inline: 1.125rem;
}

.customize {
    border: 1px solid var(--clr-primary);
    color: #eeeeee;
}

.customize:hover {
    background: var(--clr-primary);
    color: var(--clr-desc-bg);
}

.customize-own {
    color: #eee;
    background: var(--clr-desc-bg);
}

.customize-own:hover {
    color: var(--clr-desc-bg);
    background: var(--clr-primary);
}


.carousel-control-prev, .carousel-control-next {
    width: 3rem;
    aspect-ratio: 1;
    top: 50%;
    transform: translateY(-50%);
}

.customize-right {
    background: var(--clr-desc-bg);
}