{% extends "base.html" %}
{% load static %}
{% block content %}

    <style>

        .sticky-top {
            top: 7.5rem;
        }

        .img-buy {
            background: var(--clr-desc-bg);
        }

        .card-image img {
            min-width: 10rem;
        }

        .payment-option {
            border: 2px solid var(--clr-primary);
            padding: 0.75rem 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.375rem;
            cursor: pointer;
        }

        .payment-option:hover {
            background-color: rgba(252, 255, 255, 0.01);
        }

        #payment-form {
            font-size: 1.125rem;
        }

    </style>


    <div class="container mb-5 p-0">
        <form id="checkout_form" class="container" method="post">
            {% csrf_token %}
            <h1 class="fw-bold mt-4 mb-0">Checkout</h1>


            <div class="row">
                <div class="col-12 col-lg-12 col-xl-9">
                    <div class="pe-xl-5">
                        <hr class="opacity-100 border-3"/>
                        <h2 class="fw-bold">Shipping Information</h2>

                        <div class="row fw-bold">

                            {% for field in form %}

                                {% if field.errors %}
                                    <div class="text-danger col-12">
                                        {{ field.errors }}
                                    </div>
                                {% endif %}
                                {% if field.label != "Address" %}
                                    <div class="px-1 my-2 text-start col-6">
                                        <label class="my_class" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                {% else %}

                                    <div class="px-0 my-2 text-start">
                                        <label class="my_class" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                {% endif %}


                            {% endfor %}

                            <h3 class="fw-bold mt-3 mb-2">Payment</h3>

                            <div id="payment-options">
                                <div class="payment-option">
                                    <input type="radio" name="payment_method" value="credit_card" checked form="checkout_form"> Credit Card

                                    <div id="payment-form"></div>
                                </div>

                                <div class="payment-option">
                                    <input type="radio" name="payment_method" value="cash" form="checkout_form"> Cash
                                    on Delivery
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-3 col-xl-3 text-center rounded-3 p-0">
                    <div class="px-xl-3 rounded-3 customize-right sticky-top">
                        <div class="bg-transparent border-0">
                            <div>

                                <p class="fw-bold pt-4 fs-3">Order Details</p>
                                <div class="d-flex card-image img-buy">
                                    <img src="{{ order.image.url }}" class="d-block m-auto" alt="{{ desktop.name }}">
                                </div>
                                <div class="card-body text-white text-center d-flex flex-column align-content-stretch">
                                    <h4 class="card-title fw-bold">{{ desktop.name }}</h4>
                                    <h5 class="fw-bold">{{ desktop.get_type_display }}</h5>
                                    <p class="card-text" id="checkout_price">${{ desktop.price }}</p>

                                    <input type="hidden" id="id_price" name="price" value="" form="checkout_form">

                                    <input type="submit" class="customize btn rounded-pill fw-bold"
                                           value="Place my order"
                                           form="checkout_form"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#<form>#}
                {# {{ form }}#}
                {# <input type="submit">#}
                {#</form>#}
            </div>
        </form>
    </div>



    <script>
        $(function () {
            $(window).on("load", function () {
                renderCreditCardForm();
            });

            $("a.nav-link.browse_home").removeAttr("data-active");
            $("a.nav-link.browse_desktops").removeAttr("data-active");
            $("a.nav-link.browse_laptops").removeAttr("data-active");
            $("a.nav-link.browse_customize").attr("data-active", "active");


            $('.payment-option').click(function () {
                if (!$(event.target).is('input')) {
                    $(this).find('input[name="payment_method"]').prop("checked", true);


                    let selectedPaymentMethod = $(this).find('input[name="payment_method"]').val();
                    if (selectedPaymentMethod === 'credit_card') {
                        renderCreditCardForm();
                    } else {
                        $('#payment-form').empty();
                    }
                }

            })

            function renderCreditCardForm() {

                $('#payment-form').html(`
                <div class="mx-4">
                    <div class="row">
                         <div class="col-12">
                            <label for="card_number" class="py-2">Card Number</label>
                            <input type="text" id="card_number" class="form-control" name="card_number" placeholder="XXXX XXXX XXXX XXXX" required minlength="16" maxlength="16" >
                         </div>

                    </div>

                    <div class="row">
                         <div class="col-md-6 col-12">
                            <label for="card_name" class="py-2">Name of the card</label>
                            <input type="text" id="card_name" class="form-control" name="expiration" placeholder="ex: John Doe" required>
                         </div>

                        <div class="col-md-3 col-12">
                            <label for="expiration" class="py-2">Expiration Date</label>
                            <input type="text" id="expiration" class="form-control" name="expiration" placeholder="MM/YY" required>
                         </div>

                         <div class="col-md-3 col-12">
                            <label for="cvv" class="py-2">CVV</label>
                            <input type="text" id="cvv" class="form-control" name="cvv" placeholder="XXX" required>
                         </div>
                    </div>
                </div>
            `);
            }
        })
    </script>
{% endblock %}