{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- default content text (typically empty) -->
    <div class="container mb-5">
        <h1 class="fw-bold my-4">Configure Your PC</h1>
        {{ desktop }}

        <div class="row">
            {% for laptop in laptop_list %}
                <div class="col-xl-4 col-lg-6 col-md-12 p-0">
                    <div class="card bg-transparent border-0">
                        <div class="mx-3">

                            <div class="card-image d-flex">
                                <img src="{{ laptop.image.url }}" class="d-block w-75 m-auto" alt="{{ laptop.name }}">
                            </div>
                            <div class="card-body text-white text-center d-flex justify-content-around flex-column">
                                <h4 class="card-title fw-bold">{{ laptop.name }}</h4>
                                <h5 class="fw-bold">{{ laptop.get_type_display }}</h5>
                                <p class="card-text">${{ laptop.price }}</p>
                                <div>
                                    <a href="#" class="customize btn rounded-pill fw-bold w-100"
                                       data-laptop-id="{{ laptop.pk }}">Customize</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


    <script>
        $(function () {
            $("a.nav-link.browse_home").removeAttr("data-active");
            $("a.nav-link.browse_desktops").removeAttr("data-active");
            $("a.nav-link.browse_laptops").removeAttr("data-active");
            $("a.nav-link.browse_customize").attr("data-active", "active");
        })
    </script>
{% endblock %}
